<div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col"> Producto </th>
        <th scope="col"> Cantidad </th>


      </tr>
    </thead>
    <tbody>
      {{#each mycart.products}}
        <tr>
          <td> {{this.product}}</td>
          <td> {{this.quantity}}</td>
  
        </tr>
      {{/each}}

    </tbody>

</div>
<script data='{{json cart._id}}'></script>