<div class='center'>

  <section class='form-section'>

    <form id="registerForm" class='form'>
        <h1 class='form-title'>Formulario de Registro</h1>
        <div class='form-body'></div>
            <label>Nombre</label>
            <input type="text" name="first_name" required>
            <br/>
            <label>Apellido</label>
            <input type="text" name="last_name" required>
            <br/>
            <label>Email</label>
            <input type="email"  name="email" required>
            <br/>
            <label>Edad</label>
            <input type="number" name="age" required>
            <br/>
            <label>Contraseña</label>
            <input type='password' id='password' name="password" required  >

            <input type="submit" value='Registrarse' />
        </div>   
    </form>
  </section>

<p>¿Ya tienes una cuenta? <a href="/users/login">Ingresa aquí</a></p>
</div>
<script src="/js/register.js"></script>